header {
    position: fixed;
    top: 0;
    padding: 0 2rem;
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    height: var(--header-height);
    min-height: var(--header-height);
    max-height: var(--header-height);
    background-color: var(--main-color);
    color: white;
    z-index: 9999999;

    :global(.ant-menu) {
        background-color: var(--main-color);
        color: white;

        li {
            line-height: calc(var(--header-height) - 1rem);
            border-radius: .25rem !important;
        }
    }

    .fullHeader,
    .shortHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--main-color);
    }

    .left_side {
        & {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        .logo {
            display: flex;
            flex-direction: column;
        }

        .linkLabel {
            margin-inline-start: 10px;
        }
    }

    .right_side {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-top: -5px;
    }
}

@media screen and (min-width: 993px) {
    .shortHeader {
        display: none !important;
    }

    .fullHeader {
        li:has(.homeLink) {
            display: none !important;
        }
    }
}

@media screen and (max-width: 992px) {
    html {
        padding-top: var(--header-large-height) !important;
        height: calc(100% - var(--header-large-height)) !important;
        padding-bottom: var(--header-height) !important;
    }

    header {
        height: var(--header-large-height);
        min-height: var(--header-large-height);
        max-height: var(--header-large-height);

        .shortHeader {
            flex-direction: column;

            div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: .5rem;
            }
        }

        .fullHeader {
            position: fixed !important;
            bottom: 0;
            left: 0;
            top: unset !important;
            justify-content: center;
            width: 100%;
            padding: 0;
            height: var(--header-height);

            .left_side {
                width: 100%;

                ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    &::after,
                    &::before {
                        content: unset;
                    }

                    .ant-menu-overflow-item-rest {
                        display: none;
                    }
                }
            }

            .logo,
            .right_side {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .fullHeader {
        .left_side {
            .linkLabel {
                display: none;
            }
        }
    }
}