footer {
    background-color: var(--footer-color);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;

    .leftSide {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: space-between;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        a {
            color: -webkit-link;
        }
    }
}